/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: blue;
}

.login-form {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: blue;
    padding: 40px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.login-form h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.login-form h2 {
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: blue;
    text-align: center;
}

.login-form .mainlogin {
    position: relative;
    display: flex;
    margin: 30px 0;
}

.content {
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-img {
    flex-basis: 50%;
    background-color: lightblue;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: grid;
    display: grid;
}

form-img .img {
    width: 20%;
}

.btn,button,input {
    border-radius: 35px;
}

.btn:hover,
button:hover{
    transition: 0.5s ease;
}

a {
    text-decoration: none;
}

.login-form form {
    margin: 30px 0;
}

.login-form input {
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: lightcyan;
    transition: 0.3 ease;
}

.login-form input:focus {
    background: transparent;
    border: 1px solid blue;
}

.login-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background-color: blue;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.3s ease;
}

@media(max-width:736px) {
    .login-form.mainlogin{
        flex-direction: column;
    }

    .content {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        flex-basis: 100%;
    }

    .login-form .form{
        margin-top: 30px;
        margin-bottom: 10px;
        
    }

    .form-img {
        flex-basis: 0%;
        display: none;
    }
}
