@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: white;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: white;
}

.sidebar-logo{
    margin: auto 0;
}

.sidebar-logo a {
    color: white;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span,
#sidebar:not(.expand) a.sidebar-link-select span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i{
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link-select {
    padding: .625rem 1.625rem;
    color: white;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    background-color: rgba(255, 255, 255, .5);
}

.sidebar-link-select i{
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid white;
}

.sidebar-item {
    position: relative;
}

.btnsubmit {
    display: flexbox;
    background-color: blue;
    border-radius: 20px;
    color: white;
    width: 120px;
    height: 40px;
    border-style: none;
}

.btnbatal {
    display: flexbox;
    background-color: #9ACBD0;
    border-radius: 20px;
    color: white;
    width: 120px;
    height: 40px;
    border-style: none;
}