html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Mencegah scrollbar */
}

#mapid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 70px; /* Lebar minimum untuk tombol sidebar */
    z-index: 0;
    height: 100%; /* Memastikan tinggi penuh */
    width: auto; /* Lebar menyesuaikan dengan left margin */
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    height: 100%; /* Memastikan tinggi penuh */
}

.leaflet-bottom.leaflet-right {
    display: flex;
    flex-direction: row-reverse; /* GPS di kanan, Search di kiri */
    align-items: flex-end;
    padding: 10px;
}